@charset "utf-8";

/*
*  My97 DatePicker 4.7
*  themes: christ
*/

.WdateDiv{
    font-family:fontFamily(yh);
    width: 180px;
    overflow: hidden;
    font-size: fontSize(small);
    background-color: colors(white);
    @include border(1px,solid,lighten(colors(borderColor),10));
    padding: 4px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.2);

    .NavImg{
        a{
            display: block;
            cursor: pointer;
            margin-top:2px;
            @include square(16px);
        }
    }
    .NavImgll{
        a {
            float: left;
            background: transparent url(img.png) no-repeat scroll 0 0;
        }
    }
    .NavImgl{
        a {
            float: left;
            background: transparent url(img.png) no-repeat scroll -16px 0;
        }
    }
    .NavImgr{
        a {
            float: right;
            background: transparent url(img.png) no-repeat scroll -32px 0;
        }
    }
    .NavImgrr{
        a {
            float: right;
            background: transparent url(img.png) no-repeat scroll -48px 0;
        }
    }
    #dpTitle {
        @include text-vertical-center(26px);
        margin-bottom: 2px;
        text-align: center;
    }
    .yminput {
        outline: none;
        @include size(50px,20px);
        margin-top: 1px;
        border:0;
        text-align: center;
        font-weight:bold;
        color: colors(black);
        cursor: pointer;
    }
    .yminputfocus {
        @include size(50px,20px);
        margin-top: 1px;
        text-align: center;
        font-weight: bold;
        color: colors(red);
        border: 1px solid colors(borderFocus);
    }
    .menuSel {
        z-index: 1;
        @include positionDisplay;
        background-color: colors(white);
        @include border(1px,solid,colors(borderColor));
        td{
            font-size: fontSize(small);
            text-align: center;
        }
    }
    .menu {
        cursor: pointer;
        background-color: colors(white);
    }
    .menuOn {
        cursor: pointer;
        color:colors(white);
        background-color: colors(red);
    }
    .invalidMenu {
        color: colors(gray);
        cursor: not-allowed;
    }
    .YMenu {
        margin-top: 20px;
    }
    .MMenu {
        margin-top: 20px;
        *width: 62px;
    }
    .hhMenu {
        margin: -90px 0 0 26px;
    }
    .mmMenu {
        margin: -46px 0 0 26px;
    }
    .ssMenu {
        margin: -24px 0 0 26px;
    }
    .Wweek {
        text-align: center;
        color:colors(white);
        background: colors(blue);
        border-right:  1px solid colors(borderColor);
    }
    .MTitle {
        font-size: fontSize(base);
        font-weight:bold;
        background-color: colors(white);
    }
    .WdayTable2 {
        border-collapse: collapse;
        table {
            border: 0;
        }
    }
    .WdayTable {
        font-size: fontSize(small);
        line-height: 20px;
        td {
            text-align: center!important;
            @include prefix(border,radius,3px);
        }
    }
    .Wday {
        cursor: pointer;
        color:colors(black);
    }
    .WdayOn {
        cursor: pointer;
        color:colors(white);
        background-color: colors(primary);
    }
    .Wwday {
        cursor: pointer;
        color: colors(red);
    }
    .WwdayOn {
        cursor: pointer;
        color: colors(white);
        background-color: colors(red);
    }
    .Wtoday {
        cursor: pointer;
        color: colors(white);
        background-color: colors(green);
    }
    .Wselday {
        background-color: colors(primary);
        color: colors(white);
    }
    .WspecialDay {
        background-color: colors(green);
        color:colors(white);
    }
    .WotherDay {
        cursor: pointer;
        color: #d2d2d2;
    }
    .WotherDayOn {
        cursor: pointer;
        color:colors(white);
        background-color: darken(colors(tableHeadHover),10%);
    }
    .WinvalidDay {
        color: colors(gray);
        &:hover{
            cursor: not-allowed;
        }
    }
    #dpTime {
        float: left;
        overflow: hidden;
        margin: 3px 30px 0 0 ;
        #dpTimeStr {
            font-size: fontSize(base);
            margin-left: 1px;
        }
        input {
            vertical-align: middle;
            @include size(18px,20px);
            text-align: center;
            @include border(1px,solid,colors(borderColor));
        }
        .tB {
            border-right: 0;
        }
        .tE {
            border-left: 0;
            border-right: 0;
        }
        .tm {
            width: 7px;
            border-left: 0;
            border-right: 0;
        }
        #dpTimeUp {
            @include size(13px,10px);
            border: 0;
            background: url(img.png) no-repeat -32px -16px;
        }
        #dpTimeDown {
            @include size(13px,10px);
            border: 0;
            background: url(img.png) no-repeat -48px -16px;
        }
    }
    #dpQS {
        float: left;
        margin-right: 3px;
        margin-top: 3px;
        background: url(img.png) no-repeat 0px -16px;
        @include square(20px);
        cursor: pointer;
    }
    #dpControl {
        text-align: right;
    }
    .dpButton {
        cursor: pointer;
        @include size(45px,20px);
        @include border(1px,solid,colors(primary));
        @include prefix(border,radius,3px);
        background: colors(white);
        margin-top: 2px;
        margin-right: 1px;
        &:hover{
            background: colors(primary);
            color: colors(white);
        }
    }
}
.WdateDiv2 {
    width: 360px;
}