@charset "utf-8";

/***********************************/
//引入mixins公共方法
@import "sass/_mixins";
.main {
  margin: 30px auto 0;
  padding: 1px 0 30px;
  width: 1198px;
  height: auto;
  //@include border(1px, solid, colors(borderColor));
  background-color: colors(white);
}
.query-list-main {
  @extend .main;
  .query-panel {
    margin: 30px auto 0;
    width: 1100px;
    .ajbl-nav{
      padding: 10px 0px;
      .title{
        font-size: fontSize(base);
        font-weight: bold;
        color: colors(primary);
        .jq-num{
          color: colors(red);
        }
      }
      a{
        cursor: pointer;
      }
      .gap{
        margin: 0 10px;
      }
    }
    .panel {
      .panel-header {
        .panel-title {
          @include text-vertical-center(25px);
          .add-btn {
            padding-left: 10px;
            font-family: fontFamily(yh);
            color: colors(textColor);
            font-weight: bold;
            input {
              cursor: pointer;
              margin-right: 5px;
              border: none;
              @include prefix(border, radius, 3px);
              font-weight: bold;
              color: colors(textColor);
              padding: 5px 10px;
              outline: none;
            }
            .short:hover, .add-other {
              background-color: colors(link);
              color: colors(white);
            }
            .add-other {
              margin-left: 15px;
            }
          }
          .input-search{
            @include prefix(border, radius, 4px);
            border: 1px solid colors(borderColor);
            background: colors(white);
            height: 23px;
            width: 288px;
            display: none;
            .enter-condition{
              border: none;
              display: block;
              float: left;
              line-height: 21px;
              margin-left: 5px;
              width: 255px;
              outline: none;
            }
            .search-xian{
              font-size: fontSize(small);
              display: block;
              float: left;
              color: colors(borderColor);
              margin-top: -2px;
            }
            .search-logo{
              color: colors(primary);
              margin-left: 5px;
              font-size: fontSize(small);
              margin-top: 5px;
              display: block;
              float: left;
            }
          }
        }
      }
    }
    .query-item {
      padding-top: 10px;
      @include clearfix;
      .item {
        display: none;
        @include float(left);
        @include text-vertical-center(22px);
        margin-bottom:20px;
        font-size: fontSize(small);
        padding: 0 15px;
        .pro {
          color: colors(textColor);
          font-weight: bold;
          margin-right:10px;
          @include text-vertical-center(20px);
          @include text-overflow;
          i{
            color: colors(red);
            padding-right:5px;
          }
        }
        .val {
          border: none;
          outline: none;
          @include inline-block;
          width: 250px;
          @include text-vertical-center(20px);
        }
      }
    }
    .query-btn {
      margin: 20px 0;
      @include text-align(center);
      a {
        width: 60px;
        margin: 0 10px;
      }
    }
  }

  .content {
    .content-table {
      margin: 20px auto 0;
      width: 1100px;
    }
    .bottom-btn {
      margin: 30px auto 0;
      width: 1100px;
      @include clearfix;
      a#set_table_btn{
        @include float(right);
      }
    }
  }
}
#other_condition_panel {
  .query-condition {
    @include clearfix;
    padding: 15px;
    .item {
      font-size: fontSize(small);
      @include float(left);
      width: 142px;
      margin-bottom: 10px;
      input {
        cursor: pointer;
        vertical-align: middle;
      }
    }
  }
}