@charset "UTF-8";
/**
 * 获取颜色map方法
 * @param $key 颜色的key值
 */
/**
 * 获取字体map方法
 * @param $key 颜色的key值
 */
/**
 * 获取字体大小map方法
 * @param $key 颜色的key值
 */
/**
 * 获取行高map方法
 * @param $key 颜色的key值
 */
/**
 * 获取圆角map方法
 * @param $key 颜色的key值
 */
/**
 * 获取z-index map方法
 * @param $key 颜色的key值
 */
/**!
 * @author christ
 * 本配置基于sass框架compass,在运用时请注意是否安装sass,compass
 */
/*按钮移入渐变*/
/*disabled btn*/
/*selected button*/
/* line 5, ../sass/sass/mixins/_scroll.scss */
::-webkit-scrollbar {
  background-color: #fff;
  width: 5px;
  height: 10px;
}

/* line 11, ../sass/sass/mixins/_scroll.scss */
::-webkit-scrollbar-track {
  background-color: #fff;
}

/* line 15, ../sass/sass/mixins/_scroll.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.65);
}

/* line 4, ../sass/sass/_composite.scss */
.main {
  /*页码查询框的宽度添加*/
}
/* line 7, ../sass/sass/_composite.scss */
.main .pagination .pagination-num {
  width: 50px;
}
/* line 11, ../sass/sass/_composite.scss */
.main .title {
  color: #0e6595;
  font-size: 18px;
  font-weight: bold;
  font-family: "SinSun", 宋体;
  margin-right: 10px;
}
/* line 20, ../sass/sass/_composite.scss */
.main .search-btn-box {
  width: 580px;
  margin: auto;
  margin-top: 15px;
  height: 40px;
  line-height: 40px;
}
/* line 26, ../sass/sass/_composite.scss */
.main .search-btn-box .search-btn {
  display: inline-block;
  position: relative;
  top: 3px;
  left: -5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 60px;
  height: 30px;
  line-height: 30px;
  background-color: #0e6595;
  color: #fff;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
/* line 42, ../sass/sass/_composite.scss */
.main .search-btn-box .advanced-btn {
  margin-left: 5px;
  font-size: 14px;
  color: #0e6595;
}
/* line 48, ../sass/sass/_composite.scss */
.main .advanced-search-box {
  *zoom: 1;
  margin: auto;
  margin-top: 10px;
  width: 1100px;
  background-color: #fff;
  box-shadow: 0 0 8px #aaa;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.main .advanced-search-box:before, .main .advanced-search-box:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.main .advanced-search-box:after {
  clear: both;
  overflow: hidden;
}
/* line 57, ../sass/sass/_composite.scss */
.main .advanced-search-box .condition-area > div {
  padding: 0 10px;
  margin-top: 10px;
}
/* line 60, ../sass/sass/_composite.scss */
.main .advanced-search-box .condition-area > div > div {
  *zoom: 1;
  border-bottom: 1px dashed #ccc;
  height: 20px;
  line-height: 20px;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.main .advanced-search-box .condition-area > div > div:before, .main .advanced-search-box .condition-area > div > div:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.main .advanced-search-box .condition-area > div > div:after {
  clear: both;
  overflow: hidden;
}
/* line 65, ../sass/sass/_composite.scss */
.main .advanced-search-box .condition-area > div > div .search-title {
  float: left;
  color: #0D6193;
  font-size: 14px;
}
/* line 70, ../sass/sass/_composite.scss */
.main .advanced-search-box .condition-area > div > div .search-add {
  float: right;
}
/* line 74, ../sass/sass/_composite.scss */
.main .advanced-search-box .condition-area > div ul {
  list-style-type: none;
  margin: 10px 0 0px 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: auto;
  *zoom: 1;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.main .advanced-search-box .condition-area > div ul:before, .main .advanced-search-box .condition-area > div ul:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.main .advanced-search-box .condition-area > div ul:after {
  clear: both;
  overflow: hidden;
}
/* line 82, ../sass/sass/_composite.scss */
.main .advanced-search-box .condition-area > div ul li {
  float: left;
  margin: 5px 0;
  width: 33.33333%;
}
/* line 86, ../sass/sass/_composite.scss */
.main .advanced-search-box .condition-area > div ul li .pro {
  display: inline-block;
  font-size: 12px;
  margin: 0 5px;
  text-align: right;
  width: 80px;
  vertical-align: top;
}
/* line 95, ../sass/sass/_composite.scss */
.main .advanced-search-box .condition-area > div ul li .condition {
  margin-left: 10px;
}
/* line 98, ../sass/sass/_composite.scss */
.main .advanced-search-box .condition-area > div ul li .del-condition {
  display: none;
  color: #ff3a41;
  cursor: pointer;
  margin-left: 2px;
  font-size: 14px;
}
/* line 110, ../sass/sass/_composite.scss */
.main .advanced-search-box .bottom-btn {
  margin: 30px auto 20px auto;
  text-align: center;
}
/* line 113, ../sass/sass/_composite.scss */
.main .advanced-search-box .bottom-btn a {
  margin: 0 10px;
}
/* line 118, ../sass/sass/_composite.scss */
.main .search-result {
  margin: auto;
  margin-top: 10px;
  width: 1100px;
  min-height: 150px;
  height: auto;
}
/* line 125, ../sass/sass/_composite.scss */
.main .handle-area {
  margin: auto;
  margin-top: 25px;
  width: 1100px;
}
/* line 129, ../sass/sass/_composite.scss */
.main .handle-area .all-select-btn {
  width: auto;
  min-width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  left: 6px;
  font-size: 14px;
}
/* line 140, ../sass/sass/_composite.scss */
.main .result-table {
  margin: auto;
  margin-top: 5px;
  width: 1100px;
  height: auto;
}
/* line 145, ../sass/sass/_composite.scss */
.main .result-table .table-content {
  margin: 10px auto 0 auto;
  min-height: 70px;
  width: 920px;
  border-bottom: 1px dashed #ccc;
  *zoom: 1;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.main .result-table .table-content:before, .main .result-table .table-content:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.main .result-table .table-content:after {
  clear: both;
  overflow: hidden;
}
/* line 151, ../sass/sass/_composite.scss */
.main .result-table .table-content .img-dsc {
  float: left;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
}
/* line 156, ../sass/sass/_composite.scss */
.main .result-table .table-content .img-dsc img {
  height: 100%;
  width: auto;
}
/* line 161, ../sass/sass/_composite.scss */
.main .result-table .table-content .content-dsc {
  *zoom: 1;
  height: 100%;
  line-height: 100%;
  float: left;
  width: 860px;
  margin-left: 5px;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.main .result-table .table-content .content-dsc:before, .main .result-table .table-content .content-dsc:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.main .result-table .table-content .content-dsc:after {
  clear: both;
  overflow: hidden;
}
/* line 169, ../sass/sass/_composite.scss */
.main .result-table .table-content .content-dsc .item {
  float: left;
  margin: 5px 0;
}
/* line 172, ../sass/sass/_composite.scss */
.main .result-table .table-content .content-dsc .item .pro {
  font-weight: bold;
  color: #0e6595;
  margin-right: 5px;
  text-align: right;
  min-width: 80px;
  display: inline-block;
}
/* line 187, ../sass/sass/_composite.scss */
.main .pagination {
  margin: auto;
  margin-top: 10px;
  width: 1100px;
}

/*查询条件框*/
/* line 195, ../sass/sass/_composite.scss */
.condition-dialog ul {
  list-style-type: none;
  margin: 0;
  padding: 5px 15px;
  border: 0;
  height: auto;
  *zoom: 1;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.condition-dialog ul:before, .condition-dialog ul:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.condition-dialog ul:after {
  clear: both;
  overflow: hidden;
}
/* line 202, ../sass/sass/_composite.scss */
.condition-dialog ul li {
  float: left;
  margin-bottom: 5px;
  min-width: 120px;
}

/* line 211, ../sass/sass/_composite.scss */
#set_table_panel .table-header-drag {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  /*已选表头*/
  /*待选表头*/
}
/* line 215, ../sass/sass/_composite.scss */
#set_table_panel .table-header-drag ul {
  width: 100%;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
  *zoom: 1;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
#set_table_panel .table-header-drag ul:before, #set_table_panel .table-header-drag ul:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
#set_table_panel .table-header-drag ul:after {
  clear: both;
  overflow: hidden;
}
/* line 221, ../sass/sass/_composite.scss */
#set_table_panel .table-header-drag ul li {
  float: left;
  margin: 2px;
  cursor: pointer;
}
/* line 225, ../sass/sass/_composite.scss */
#set_table_panel .table-header-drag ul li div {
  text-align: center;
  padding: 0 20px;
  background-color: #39980f;
  color: #fff;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
}
/* line 236, ../sass/sass/_composite.scss */
#set_table_panel .table-header-drag ul .placeHolder div {
  background-color: #fff !important;
  border: dashed 1px #999 !important;
}
/* line 243, ../sass/sass/_composite.scss */
#set_table_panel .table-header-drag .selected-header {
  *zoom: 1;
  padding: 10px;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
#set_table_panel .table-header-drag .selected-header:before, #set_table_panel .table-header-drag .selected-header:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
#set_table_panel .table-header-drag .selected-header:after {
  clear: both;
  overflow: hidden;
}
/* line 248, ../sass/sass/_composite.scss */
#set_table_panel .table-header-drag .selected-header ul li div {
  background-color: #ed4848;
}
/* line 253, ../sass/sass/_composite.scss */
#set_table_panel .table-header-drag .selected-header > div {
  padding-bottom: 5px;
  border-bottom: 1px dashed #ccc;
}
/* line 260, ../sass/sass/_composite.scss */
#set_table_panel .table-header-drag .waiting-header {
  *zoom: 1;
  padding: 10px;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
#set_table_panel .table-header-drag .waiting-header:before, #set_table_panel .table-header-drag .waiting-header:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
#set_table_panel .table-header-drag .waiting-header:after {
  clear: both;
  overflow: hidden;
}
/* line 263, ../sass/sass/_composite.scss */
#set_table_panel .table-header-drag .waiting-header > div {
  padding-bottom: 5px;
  border-bottom: 1px dashed #ccc;
}
/* line 268, ../sass/sass/_composite.scss */
#set_table_panel .table-header-drag .tips {
  width: auto;
  margin: 10px auto;
  padding: 0 10px;
  color: #999;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}

/* line 281, ../sass/sass/_composite.scss */
#other_table_dialog .title {
  *zoom: 1;
  font-size: 14px;
  border-bottom: 1px #ccc dashed;
  color: #0D6193;
  margin-bottom: 2px;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
#other_table_dialog .title:before, #other_table_dialog .title:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
#other_table_dialog .title:after {
  clear: both;
  overflow: hidden;
}
/* line 287, ../sass/sass/_composite.scss */
#other_table_dialog .title .text {
  float: left;
}
/* line 290, ../sass/sass/_composite.scss */
#other_table_dialog .title .fold {
  float: right;
  text-align: center;
  background-color: #ddd;
  padding: 2px 15px;
  cursor: pointer;
  border-radius: 3px;
}
/* line 297, ../sass/sass/_composite.scss */
#other_table_dialog .title .fold:hover {
  background: #0D6193;
  color: #fff;
}
/* line 302, ../sass/sass/_composite.scss */
#other_table_dialog .title .select-all {
  float: right;
  font-size: 12px;
  color: #5a5a5a;
}
/* line 308, ../sass/sass/_composite.scss */
#other_table_dialog .item-table {
  margin: 0 15px;
  border: 2px #fff solid;
}
/* line 312, ../sass/sass/_composite.scss */
#other_table_dialog .item-check-border {
  border: 2px #ccc solid;
}
/* line 315, ../sass/sass/_composite.scss */
#other_table_dialog .item-check {
  display: none;
}
/* line 317, ../sass/sass/_composite.scss */
#other_table_dialog .item-check label {
  font-size: 12px;
  display: inline-block;
  width: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 324, ../sass/sass/_composite.scss */
#other_table_dialog .item-check label input {
  vertical-align: middle;
}

/* line 333, ../sass/sass/_composite.scss */
#model_dialog .model-name {
  height: 30px;
  line-height: 30px;
  margin: 20px 60px;
}
/* line 337, ../sass/sass/_composite.scss */
#model_dialog .model-name .pro {
  display: inline-block;
  margin-right: 24px;
}
/* line 342, ../sass/sass/_composite.scss */
#model_dialog .model-limit {
  margin: 0 60px;
}
/* line 344, ../sass/sass/_composite.scss */
#model_dialog .model-limit .pro {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}
/* line 349, ../sass/sass/_composite.scss */
#model_dialog .model-limit .content {
  width: 400px;
  display: inline-block;
}
/* line 352, ../sass/sass/_composite.scss */
#model_dialog .model-limit .content .item {
  width: 120px;
  display: inline-block;
  margin-bottom: 15px;
}

/* line 362, ../sass/sass/_composite.scss */
.model-accordion {
  box-shadow: 0 0 8px #aaa;
  width: 1100px;
  margin: 10px auto;
}
/* line 366, ../sass/sass/_composite.scss */
.model-accordion .panel-title {
  color: #0D6193 !important;
}
/* line 369, ../sass/sass/_composite.scss */
.model-accordion .quick-query {
  text-align: center;
  margin: 10px 0;
}
/* line 372, ../sass/sass/_composite.scss */
.model-accordion .quick-query .pro {
  margin-right: 15px;
  color: #0D6193;
}
/* line 376, ../sass/sass/_composite.scss */
.model-accordion .quick-query .search-btn {
  color: #0e6595;
  margin-left: 10px;
  font-size: 18px;
  cursor: pointer;
}
/* line 383, ../sass/sass/_composite.scss */
.model-accordion .model-limit {
  text-align: center;
  margin: 10px 0;
}
/* line 386, ../sass/sass/_composite.scss */
.model-accordion .model-limit a {
  margin: 0 5px;
}
