@charset "UTF-8";
/**
 * 获取颜色map方法
 * @param $key 颜色的key值
 */
/**
 * 获取字体map方法
 * @param $key 颜色的key值
 */
/**
 * 获取字体大小map方法
 * @param $key 颜色的key值
 */
/**
 * 获取行高map方法
 * @param $key 颜色的key值
 */
/**
 * 获取圆角map方法
 * @param $key 颜色的key值
 */
/**
 * 获取z-index map方法
 * @param $key 颜色的key值
 */
/**!
 * @author christ
 * 本配置基于sass框架compass,在运用时请注意是否安装sass,compass
 */
/*按钮移入渐变*/
/*disabled btn*/
/*selected button*/
/* line 5, ../sass/sass/mixins/_scroll.scss */
::-webkit-scrollbar {
  background-color: #fff;
  width: 5px;
  height: 10px;
}

/* line 11, ../sass/sass/mixins/_scroll.scss */
::-webkit-scrollbar-track {
  background-color: #fff;
}

/* line 15, ../sass/sass/mixins/_scroll.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.65);
}

/* line 2, ../sass/sass/_demo.scss */
body {
  margin: 10px;
  padding: 10px;
  font-family: "Microsoft Yahei", "微软雅黑";
  color: #5a5a5a;
}

/* line 7, ../sass/sass/_demo.scss */
.container {
  margin: 0 auto;
  width: 1200px;
  height: auto;
}
/* line 12, ../sass/sass/_demo.scss */
.container .item-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  width: auto;
  height: auto;
  *zoom: 1;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.container .item-container:before, .container .item-container:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.container .item-container:after {
  clear: both;
  overflow: hidden;
}
/* line 17, ../sass/sass/_demo.scss */
.container .item-container li {
  float: left;
  *zoom: 1;
  margin-bottom: 10px;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.container .item-container li:before, .container .item-container li:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.container .item-container li:after {
  clear: both;
  overflow: hidden;
}
/* line 21, ../sass/sass/_demo.scss */
.container .item-container li > p {
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  _display: inline;
  text-align: right;
  height: 24px;
  line-height: 24px;
  font-weight: bold;
}
/* line 27, ../sass/sass/_demo.scss */
.container .item-container li > p i {
  color: #ed4848;
  margin-right: 3px;
}
/* line 32, ../sass/sass/_demo.scss */
.container .item-container li .pro {
  width: 30%;
}
/* line 35, ../sass/sass/_demo.scss */
.container .item-container li .pro-twoThree {
  width: 20%;
}
/* line 38, ../sass/sass/_demo.scss */
.container .item-container li .pro-fullTwo {
  width: 15%;
}
/* line 41, ../sass/sass/_demo.scss */
.container .item-container li .pro-fullThree {
  width: 10%;
}
/* line 44, ../sass/sass/_demo.scss */
.container .item-container li > div {
  float: right;
  _display: inline;
  line-height: 2;
}
/* line 47, ../sass/sass/_demo.scss */
.container .item-container li > div > label {
  cursor: pointer;
  margin-right: 10px;
}
/* line 50, ../sass/sass/_demo.scss */
.container .item-container li > div > label input {
  vertical-align: -2px;
}
/* line 53, ../sass/sass/_demo.scss */
.container .item-container li > div > label input[type="checkbox"] {
  margin-left: 0;
}
/* line 57, ../sass/sass/_demo.scss */
.container .item-container li > div > a {
  display: inline-block;
  height: 20px;
  line-height: 20px;
}
/* line 60, ../sass/sass/_demo.scss */
.container .item-container li > div > a span {
  height: 20px;
  line-height: 20px;
}
/* line 62, ../sass/sass/_demo.scss */
.container .item-container li > div > a span i {
  line-height: 20px;
}
/* line 67, ../sass/sass/_demo.scss */
.container .item-container li > div > textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  outline: none;
  text-indent: 5px;
  resize: none;
}
/* line 73, ../sass/sass/_demo.scss */
.container .item-container li > div > textarea:focus {
  border-color: #66afe9;
  -webkit-box-shadow: 0 0 3px 0 #66afe9;
  -moz-box-shadow: 0 0 3px 0 #66afe9;
  -o-box-shadow: 0 0 3px 0 #66afe9;
  -ms-box-shadow: 0 0 3px 0 #66afe9;
  box-shadow: 0 0 3px 0 #66afe9;
}
/* line 79, ../sass/sass/_demo.scss */
.container .item-container li .ipt {
  width: 68%;
}
/* line 82, ../sass/sass/_demo.scss */
.container .item-container li .ipt-fullTwo {
  width: 84%;
}
/* line 85, ../sass/sass/_demo.scss */
.container .item-container li .ipt-twoThree {
  width: 78.6666%;
}
/* line 88, ../sass/sass/_demo.scss */
.container .item-container li .ipt-fullThree {
  width: 89.3333%;
}
/* line 92, ../sass/sass/_demo.scss */
.container .item-container .item-full {
  width: 100%;
}
/* line 95, ../sass/sass/_demo.scss */
.container .item-container .item-two {
  width: 50%;
}
/* line 98, ../sass/sass/_demo.scss */
.container .item-container .item-three {
  width: 33.3333%;
}
/* line 102, ../sass/sass/_demo.scss */
.container .btn-area {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
/* line 107, ../sass/sass/_demo.scss */
.container .h-blank {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 7px;
  border-bottom: 1px dashed #000;
}
/* line 112, ../sass/sass/_demo.scss */
.container .h-blank span {
  font-weight: bold;
}
/* line 116, ../sass/sass/_demo.scss */
.container .h-blank span.title {
  font-size: 18px;
}
/* line 120, ../sass/sass/_demo.scss */
.container .h-blank-noborder {
  display: block;
  width: 100%;
  height: 20px;
}
/* line 124, ../sass/sass/_demo.scss */
.container .h-blank-pre {
  display: none;
  width: 100%;
  height: auto;
  border-top: 10px solid red;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  background: #ededed;
  color: #000;
  overflow: auto;
  font-size: 12px;
}
/* line 133, ../sass/sass/_demo.scss */
.container .h-blank-pre pre, .container .h-blank-pre code {
  font-family: "Microsoft Yahei", "微软雅黑";
}
/* line 137, ../sass/sass/_demo.scss */
.container .h-blank-pre-show {
  width: 100%;
  height: auto;
  background: #000;
  color: #fff;
  font-size: 12px;
}
/* line 142, ../sass/sass/_demo.scss */
.container .h-blank-pre-show pre, .container .h-blank-pre-show code {
  font-family: "Microsoft Yahei", "微软雅黑";
}

/* line 148, ../sass/sass/_demo.scss */
label {
  cursor: pointer;
  margin-right: 10px;
}
/* line 151, ../sass/sass/_demo.scss */
label input {
  vertical-align: -2px;
}
/* line 154, ../sass/sass/_demo.scss */
label input[type="checkbox"] {
  margin-left: 0;
}
