@charset "UTF-8";
/*********************************/
/**
 * 获取颜色map方法
 * @param $key 颜色的key值
 */
/**
 * 获取字体map方法
 * @param $key 颜色的key值
 */
/**
 * 获取字体大小map方法
 * @param $key 颜色的key值
 */
/**
 * 获取行高map方法
 * @param $key 颜色的key值
 */
/**
 * 获取圆角map方法
 * @param $key 颜色的key值
 */
/**
 * 获取z-index map方法
 * @param $key 颜色的key值
 */
/**!
 * @author christ
 * 本配置基于sass框架compass,在运用时请注意是否安装sass,compass
 */
/*按钮移入渐变*/
/*disabled btn*/
/*selected button*/
/* line 5, ../sass/sass/mixins/_scroll.scss */
::-webkit-scrollbar {
  background-color: #fff;
  width: 5px;
  height: 10px;
}

/* line 11, ../sass/sass/mixins/_scroll.scss */
::-webkit-scrollbar-track {
  background-color: #fff;
}

/* line 15, ../sass/sass/mixins/_scroll.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.65);
}

/* line 2, ../sass/sass/_songshen.scss */
.main {
  position: relative;
  *zoom: 1;
  padding: 0;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.main:before, .main:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.main:after {
  clear: both;
  overflow: hidden;
}
/* line 6, ../sass/sass/_songshen.scss */
.main .left-examine {
  float: left;
  z-index: 2;
  width: 50%;
  height: 190px;
}
/* line 11, ../sass/sass/_songshen.scss */
.main .left-examine ul {
  list-style-type: none;
  margin: 0;
  padding: 0 40px;
  *zoom: 1;
  min-height: 186px;
  border-right: 1px dashed #999;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.main .left-examine ul:before, .main .left-examine ul:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.main .left-examine ul:after {
  clear: both;
  overflow: hidden;
}
/* line 18, ../sass/sass/_songshen.scss */
.main .left-examine ul li {
  float: left;
  _display: inline;
  width: 50%;
  min-height: 22px;
  margin-bottom: 10px;
}
/* line 23, ../sass/sass/_songshen.scss */
.main .left-examine ul li span.pro {
  display: inline-block;
  min-width: 48px;
  margin-right: 10px;
  vertical-align: middle;
}
/* line 30, ../sass/sass/_songshen.scss */
.main .left-examine ul li.li-full {
  width: 100%;
}
/* line 32, ../sass/sass/_songshen.scss */
.main .left-examine ul li.li-full .pro-top {
  vertical-align: top;
}
/* line 35, ../sass/sass/_songshen.scss */
.main .left-examine ul li.li-full textarea {
  width: 86%;
}
/* line 41, ../sass/sass/_songshen.scss */
.main .lct-box {
  width: 48.5%;
  min-height: 100px;
  max-height: 190px;
  float: left;
  _display: inline;
  z-index: 2;
  overflow: auto;
}
/* line 48, ../sass/sass/_songshen.scss */
.main .lct-box .lct-container {
  *zoom: 1;
  position: relative;
  overflow: hidden;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.main .lct-box .lct-container:before, .main .lct-box .lct-container:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.main .lct-box .lct-container:after {
  clear: both;
  overflow: hidden;
}
/* line 54, ../sass/sass/_songshen.scss */
.main .lct-box .lct-container .lct-node {
  float: left;
  _display: inline;
  padding: 10px;
  min-width: 120px;
  margin-right: 36px;
  margin-top: 15px;
}
/* line 60, ../sass/sass/_songshen.scss */
.main .lct-box .lct-container .lct-node .text {
  text-align: center;
  color: #0e6595;
}
/* line 63, ../sass/sass/_songshen.scss */
.main .lct-box .lct-container .lct-node .text .lcspr {
  font-weight: bold;
  padding-right: 5px;
}
/* line 68, ../sass/sass/_songshen.scss */
.main .lct-box .lct-container .lct-node .text .lcspzt i.fa-check {
  color: #39980f;
}
/* line 71, ../sass/sass/_songshen.scss */
.main .lct-box .lct-container .lct-node .text .lcspzt i.fa-times {
  color: #ed4848;
}
/* line 74, ../sass/sass/_songshen.scss */
.main .lct-box .lct-container .lct-node .text .lcspzt i.fa-reply {
  color: #000;
}
/* line 77, ../sass/sass/_songshen.scss */
.main .lct-box .lct-container .lct-node .text .lcspzt i.fa-spinner {
  color: #f0ad4e;
}
/* line 80, ../sass/sass/_songshen.scss */
.main .lct-box .lct-container .lct-node .text .lcspzt i.fa-rotate-left {
  color: #ee9460;
}
/* line 85, ../sass/sass/_songshen.scss */
.main .lct-box .lct-container .lct-node .point {
  margin: 7px 0;
}
/* line 87, ../sass/sass/_songshen.scss */
.main .lct-box .lct-container .lct-node .point b {
  position: relative;
  display: block;
  width: 8px;
  height: 8px;
  background: #fff;
  border: 2px solid #0e6595;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  margin: 0 auto;
}
/* line 95, ../sass/sass/_songshen.scss */
.main .lct-box .lct-container .lct-node .point b .h-line {
  position: absolute;
  width: 150px;
  height: 2px;
  background: #0e6595;
  left: 16px;
  top: 4px;
}
/* line 105, ../sass/sass/_songshen.scss */
.main .lct-box .lct-container .lct-node .time {
  text-align: center;
}
/* line 107, ../sass/sass/_songshen.scss */
.main .lct-box .lct-container .lct-node .time span {
  color: #5a5a5a;
}
/* line 115, ../sass/sass/_songshen.scss */
.main .lct-box .lct-container .lct-node:last-child .point b .h-line {
  width: 0;
  height: 0;
}
/* line 123, ../sass/sass/_songshen.scss */
.main .right-report {
  float: left;
  width: 1198px;
  min-height: 650px;
  z-index: 1;
}
/* line 129, ../sass/sass/_songshen.scss */
.main .report-table {
  border-top: #333 solid 1px;
  height: auto;
  margin: auto;
  margin-bottom: 40px;
  width: 500px;
}
/* line 135, ../sass/sass/_songshen.scss */
.main .report-table .report-table-item {
  border-bottom: #333 solid 1px;
  *zoom: 1;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.main .report-table .report-table-item:before, .main .report-table .report-table-item:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.main .report-table .report-table-item:after {
  clear: both;
  overflow: hidden;
}
/* line 138, ../sass/sass/_songshen.scss */
.main .report-table .report-table-item .pro {
  padding: 15px 0;
  text-align: center;
  font-size: 14px;
  float: left;
  width: 120px;
  height: auto;
  border-right: #333 solid 1px;
}
/* line 147, ../sass/sass/_songshen.scss */
.main .report-table .report-table-item .val {
  width: 360px;
  float: left;
  text-align: left;
  font-size: 12px;
  padding: 15px 0 0 10px;
}
/* line 156, ../sass/sass/_songshen.scss */
.main .report-content {
  margin: auto;
  width: 500px;
}
/* line 159, ../sass/sass/_songshen.scss */
.main .report-content .report-content-title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}
/* line 166, ../sass/sass/_songshen.scss */
.main .report-content .report-content-text {
  font-size: 12px;
}
/* line 170, ../sass/sass/_songshen.scss */
.main .btn-area-top {
  position: absolute;
  right: 30px;
  top: 14px;
}
/* line 175, ../sass/sass/_songshen.scss */
.main #flws_send {
  position: static;
  text-align: right;
  margin: 10px 30px 0;
}

/* line 182, ../sass/sass/_songshen.scss */
#lctBox {
  width: 100%;
  min-height: 100px;
  z-index: 2;
  overflow-x: auto;
}
/* line 187, ../sass/sass/_songshen.scss */
#lctBox .lct-container {
  *zoom: 1;
  position: relative;
  margin-right: 40px;
  overflow: hidden;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
#lctBox .lct-container:before, #lctBox .lct-container:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
#lctBox .lct-container:after {
  clear: both;
  overflow: hidden;
}
/* line 193, ../sass/sass/_songshen.scss */
#lctBox .lct-container .lct-node {
  float: left;
  _display: inline;
  padding: 10px;
  min-width: 120px;
  margin-right: 36px;
  margin-top: 15px;
}
/* line 199, ../sass/sass/_songshen.scss */
#lctBox .lct-container .lct-node .text {
  text-align: center;
  color: #0e6595;
}
/* line 202, ../sass/sass/_songshen.scss */
#lctBox .lct-container .lct-node .text .lcspr {
  font-weight: bold;
  padding-right: 5px;
}
/* line 207, ../sass/sass/_songshen.scss */
#lctBox .lct-container .lct-node .text .lcspzt i.fa-check {
  color: #39980f;
}
/* line 210, ../sass/sass/_songshen.scss */
#lctBox .lct-container .lct-node .text .lcspzt i.fa-times {
  color: #ed4848;
}
/* line 213, ../sass/sass/_songshen.scss */
#lctBox .lct-container .lct-node .text .lcspzt i.fa-reply {
  color: #000;
}
/* line 216, ../sass/sass/_songshen.scss */
#lctBox .lct-container .lct-node .text .lcspzt i.fa-spinner {
  color: #f0ad4e;
}
/* line 219, ../sass/sass/_songshen.scss */
#lctBox .lct-container .lct-node .text .lcspzt i.fa-rotate-left {
  color: #ee9460;
}
/* line 224, ../sass/sass/_songshen.scss */
#lctBox .lct-container .lct-node .point {
  margin: 7px 0;
}
/* line 226, ../sass/sass/_songshen.scss */
#lctBox .lct-container .lct-node .point b {
  position: relative;
  display: block;
  width: 8px;
  height: 8px;
  background: #fff;
  border: 2px solid #0e6595;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  margin: 0 auto;
}
/* line 234, ../sass/sass/_songshen.scss */
#lctBox .lct-container .lct-node .point b .h-line {
  position: absolute;
  width: 150px;
  height: 2px;
  background: #0e6595;
  left: 16px;
  top: 4px;
}
/* line 244, ../sass/sass/_songshen.scss */
#lctBox .lct-container .lct-node .time {
  text-align: center;
}
/* line 246, ../sass/sass/_songshen.scss */
#lctBox .lct-container .lct-node .time span {
  color: #5a5a5a;
}
/* line 254, ../sass/sass/_songshen.scss */
#lctBox .lct-container .lct-node:last-child .point b .h-line {
  width: 0;
  height: 0;
}

/*选择审批人和环节*/
/* line 264, ../sass/sass/_songshen.scss */
#next_link_panel {
  padding: 0 20px;
  max-height: 800px;
  overflow: auto;
}
/* line 268, ../sass/sass/_songshen.scss */
#next_link_panel .next-link {
  margin: 8px 0 15px 0;
}
/* line 270, ../sass/sass/_songshen.scss */
#next_link_panel .next-link .pro {
  color: #0e6595;
  display: inline-block;
}
/* line 275, ../sass/sass/_songshen.scss */
#next_link_panel .next-link .val label {
  color: #5a5a5a;
  font-size: 12px;
  margin-right: 15px;
}
/* line 283, ../sass/sass/_songshen.scss */
#next_link_panel .role .title {
  color: #0e6595;
  height: 20px;
  line-height: 20px;
  border-bottom: 1px dashed #ccc;
}
/* line 290, ../sass/sass/_songshen.scss */
#next_link_panel .role .role-name {
  margin-bottom: 10px;
}
/* line 292, ../sass/sass/_songshen.scss */
#next_link_panel .role .role-name label {
  display: inline-block;
  min-width: 80px;
  margin-top: 5px;
  font-size: 12px;
  color: #5a5a5a;
}
/* line 298, ../sass/sass/_songshen.scss */
#next_link_panel .role .role-name label input {
  vertical-align: top;
}

/* line 307, ../sass/sass/_songshen.scss */
#next_link_area > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
  max-width: 205px;
  margin-right: 0;
  overflow: hidden;
}
