@charset "UTF-8";
/***********************************/
/**
 * 获取颜色map方法
 * @param $key 颜色的key值
 */
/**
 * 获取字体map方法
 * @param $key 颜色的key值
 */
/**
 * 获取字体大小map方法
 * @param $key 颜色的key值
 */
/**
 * 获取行高map方法
 * @param $key 颜色的key值
 */
/**
 * 获取圆角map方法
 * @param $key 颜色的key值
 */
/**
 * 获取z-index map方法
 * @param $key 颜色的key值
 */
/**!
 * @author christ
 * 本配置基于sass框架compass,在运用时请注意是否安装sass,compass
 */
/*按钮移入渐变*/
/*disabled btn*/
/*selected button*/
/* line 5, ../sass/sass/mixins/_scroll.scss */
::-webkit-scrollbar {
  background-color: #fff;
  width: 5px;
  height: 10px;
}

/* line 11, ../sass/sass/mixins/_scroll.scss */
::-webkit-scrollbar-track {
  background-color: #fff;
}

/* line 15, ../sass/sass/mixins/_scroll.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.65);
}

/***********************************/
/*****************图片批量上传公共插件样式*********************/
/* line 5, ../sass/sass/_uploadImages.scss */
.parentFileBox {
  position: relative;
  overflow: hidden;
}
/* line 7, ../sass/sass/_uploadImages.scss */
.parentFileBox .fileBoxUl {
  list-style-type: none;
  margin: 0 74px;
  padding: 0;
  position: relative;
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.parentFileBox .fileBoxUl:before, .parentFileBox .fileBoxUl:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.parentFileBox .fileBoxUl:after {
  clear: both;
  overflow: hidden;
}
/* line 13, ../sass/sass/_uploadImages.scss */
.parentFileBox .fileBoxUl li {
  margin: 10px 5px;
  padding: 10px;
  width: 180px;
  height: 270px;
  float: left;
  _display: inline;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
/* line 21, ../sass/sass/_uploadImages.scss */
.parentFileBox .fileBoxUl li .viewThumb {
  width: 180px;
  height: 220px;
  position: relative;
  overflow: hidden;
}
/* line 25, ../sass/sass/_uploadImages.scss */
.parentFileBox .fileBoxUl li .viewThumb img {
  width: 100%;
  height: 100%;
}
/* line 29, ../sass/sass/_uploadImages.scss */
.parentFileBox .fileBoxUl li .viewThumb .coverDiv {
  position: absolute;
  width: 54px;
  height: 54px;
  left: 0;
  bottom: 0;
  background: url(../../common/uploadfiles/images/img_cover.png) no-repeat;
}
/* line 37, ../sass/sass/_uploadImages.scss */
.parentFileBox .fileBoxUl li .diyCancel, .parentFileBox .fileBoxUl li .diySuccess {
  position: absolute;
  display: none;
  width: 32px;
  height: 32px;
  top: 0;
  right: 0;
  cursor: pointer;
  background: url(../../common/uploadfiles/images/x_alt.png) no-repeat;
}
/* line 45, ../sass/sass/_uploadImages.scss */
.parentFileBox .fileBoxUl li .diySuccess {
  background: url(../../common/uploadfiles/images/check_alt.png) no-repeat;
}
/* line 49, ../sass/sass/_uploadImages.scss */
.parentFileBox .fileBoxUl li .diyFileName {
  margin-top: 10px;
  font-weight: bold;
  color: #0e6595;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
/* line 54, ../sass/sass/_uploadImages.scss */
.parentFileBox .fileBoxUl li .diyFileName span.fileInfos {
  color: #5a5a5a;
  font-weight: normal;
}
/* line 59, ../sass/sass/_uploadImages.scss */
.parentFileBox .fileBoxUl li .diyBar {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f27676;
}
/* line 65, ../sass/sass/_uploadImages.scss */
.parentFileBox .fileBoxUl li .diyBar .diyProgressText {
  font-size: 14px;
  text-align: center;
  color: #0e6595;
  position: relative;
  z-index: 99;
}
/* line 72, ../sass/sass/_uploadImages.scss */
.parentFileBox .fileBoxUl li .diyBar .diyProgress {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
  height: 24px;
  background-color: #fff;
  opacity: 0.7;
  filter: alpha(opacity=70);
  z-index: 97;
}
/* line 84, ../sass/sass/_uploadImages.scss */
.parentFileBox .fileBoxUl li:hover {
  -webkit-box-shadow: 0 0 10px #ed4848 inset;
  -moz-box-shadow: 0 0 10px #ed4848 inset;
  -o-box-shadow: 0 0 10px #ed4848 inset;
  -ms-box-shadow: 0 0 10px #ed4848 inset;
  box-shadow: 0 0 10px #ed4848 inset;
}
/* line 88, ../sass/sass/_uploadImages.scss */
.parentFileBox .fileBoxUl #add_file {
  width: 170px;
  cursor: pointer;
  border: 5px solid #cecece;
  background: url(../../common/uploadfiles/images/add_image.png) no-repeat center;
}
/* line 93, ../sass/sass/_uploadImages.scss */
.parentFileBox .fileBoxUl #add_file:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
/* line 97, ../sass/sass/_uploadImages.scss */
.parentFileBox .fileBoxUl .diyUploadHover:hover .diyCancel, .parentFileBox .fileBoxUl .diyUploadHover:hover li .diySuccess, .parentFileBox .fileBoxUl li .diyUploadHover:hover .diySuccess {
  display: block;
}
/* line 101, ../sass/sass/_uploadImages.scss */
.parentFileBox .diyButton {
  width: 100%;
  margin: 5px 0;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
/* line 106, ../sass/sass/_uploadImages.scss */
.parentFileBox .diyButton a {
  padding: 5px 10px;
  background-color: #0e6595;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
}
/* line 113, ../sass/sass/_uploadImages.scss */
.parentFileBox .diyButton a:hover {
  background-color: #052638;
}

/* line 119, ../sass/sass/_uploadImages.scss */
.avi_diy_bg, .txt_diy_bg, .doc_diy_bg, .zip_diy_bg, .csv_diy_bg, .xls_diy_bg, .mp3_diy_bg, .pdf_diy_bg, .rar_diy_bg {
  background-position: center;
  background-repeat: no-repeat;
}

/* line 123, ../sass/sass/_uploadImages.scss */
.avi_diy_bg {
  background-image: url(../../common/uploadfiles/images/filebg/avi.png);
}

/* line 126, ../sass/sass/_uploadImages.scss */
.txt_diy_bg {
  background-image: url(../../common/uploadfiles/images/filebg/txt.png);
}

/* line 129, ../sass/sass/_uploadImages.scss */
.doc_diy_bg {
  background-image: url(../../common/uploadfiles/images/filebg/doc.png);
}

/* line 132, ../sass/sass/_uploadImages.scss */
.zip_diy_bg {
  background-image: url(../../common/uploadfiles/images/filebg/zip.png);
}

/* line 135, ../sass/sass/_uploadImages.scss */
.csv_diy_bg {
  background-image: url(../../common/uploadfiles/images/filebg/csv.png);
}

/* line 138, ../sass/sass/_uploadImages.scss */
.xls_diy_bg {
  background-image: url(../../common/uploadfiles/images/filebg/xls.png);
}

/* line 141, ../sass/sass/_uploadImages.scss */
.mp3_diy_bg {
  background-image: url(../../common/uploadfiles/images/filebg/mp3.png);
}

/* line 144, ../sass/sass/_uploadImages.scss */
.pdf_diy_bg {
  background-image: url(../../common/uploadfiles/images/filebg/pdf.png);
}

/* line 147, ../sass/sass/_uploadImages.scss */
.rar_diy_bg {
  background-image: url(../../common/uploadfiles/images/filebg/rar.png);
}

/*展示页面css*/
/* line 152, ../sass/sass/_uploadImages.scss */
.get-more {
  width: 100%;
  font-size: 14px;
  color: #0e6595;
  margin: 30px 0 20px;
  cursor: pointer;
  text-align: center;
}

/*图片弹出窗口*/
/* line 161, ../sass/sass/_uploadImages.scss */
#pic_details_panel {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
#pic_details_panel:before, #pic_details_panel:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
#pic_details_panel:after {
  clear: both;
  overflow: hidden;
}
/* line 164, ../sass/sass/_uploadImages.scss */
#pic_details_panel .img-area-left {
  float: left;
  _display: inline;
  width: 750px;
  height: 520px;
  background: #404040;
  position: relative;
  text-align: center;
}
/* line 170, ../sass/sass/_uploadImages.scss */
#pic_details_panel .img-area-left img {
  width: auto;
  height: 100%;
  max-width: 750px;
}
/* line 175, ../sass/sass/_uploadImages.scss */
#pic_details_panel .img-area-left a {
  position: absolute;
  display: block;
  height: 520px;
  line-height: 520px;
  top: 0;
  cursor: pointer;
  width: 40px;
  padding: 0 10px;
  display: none;
}
/* line 184, ../sass/sass/_uploadImages.scss */
#pic_details_panel .img-area-left a.prev {
  left: 0;
  background: url(../../common/uploadfiles/images/prev.png) no-repeat center;
}
/* line 188, ../sass/sass/_uploadImages.scss */
#pic_details_panel .img-area-left a.next {
  right: 0;
  background: url(../../common/uploadfiles/images/next.png) no-repeat center;
}
/* line 192, ../sass/sass/_uploadImages.scss */
#pic_details_panel .img-area-left:hover a {
  display: block;
}
/* line 196, ../sass/sass/_uploadImages.scss */
#pic_details_panel .infos-area-right {
  float: left;
  _display: inline;
  width: 348px;
  height: 520px;
  position: relative;
}
/* line 200, ../sass/sass/_uploadImages.scss */
#pic_details_panel .infos-area-right ul {
  margin: 30px;
  padding: 0;
  list-style-type: none;
}
/* line 205, ../sass/sass/_uploadImages.scss */
#pic_details_panel .infos-area-right ul li {
  *zoom: 1;
  margin-bottom: 10px;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
#pic_details_panel .infos-area-right ul li:before, #pic_details_panel .infos-area-right ul li:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
#pic_details_panel .infos-area-right ul li:after {
  clear: both;
  overflow: hidden;
}
/* line 208, ../sass/sass/_uploadImages.scss */
#pic_details_panel .infos-area-right ul li label {
  float: left;
  _display: inline;
  margin-right: 10px;
  width: 56px;
  min-height: 19px;
  font-weight: bold;
  color: #5a5a5a;
}
/* line 216, ../sass/sass/_uploadImages.scss */
#pic_details_panel .infos-area-right ul li p {
  margin: 0;
  float: left;
  _display: inline;
}
/* line 219, ../sass/sass/_uploadImages.scss */
#pic_details_panel .infos-area-right ul li p input[type=checkbox] {
  vertical-align: -3px;
}
/* line 222, ../sass/sass/_uploadImages.scss */
#pic_details_panel .infos-area-right ul li p textarea {
  overflow: auto;
  resize: none;
  outline: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-color: #ccc;
}
/* line 236, ../sass/sass/_uploadImages.scss */
#pic_details_panel .infos-area-right .btn-tmp {
  text-align: center;
  margin: 20px 0;
}
/* line 240, ../sass/sass/_uploadImages.scss */
#pic_details_panel .infos-area-right .tips {
  position: absolute;
  bottom: 30px;
  right: 30px;
  height: 24px;
  line-height: 24px;
  text-align: right;
  color: #ed4848;
}
/* line 248, ../sass/sass/_uploadImages.scss */
#pic_details_panel .infos-area-right a.closeWin {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
/* line 253, ../sass/sass/_uploadImages.scss */
#pic_details_panel .infos-area-right a.closeWin i {
  font-size: 18px;
  color: #0e6595;
}
