@charset "UTF-8";
/**
 * 获取颜色map方法
 * @param $key 颜色的key值
 */
/**
 * 获取字体map方法
 * @param $key 颜色的key值
 */
/**
 * 获取字体大小map方法
 * @param $key 颜色的key值
 */
/**
 * 获取行高map方法
 * @param $key 颜色的key值
 */
/**
 * 获取圆角map方法
 * @param $key 颜色的key值
 */
/**
 * 获取z-index map方法
 * @param $key 颜色的key值
 */
/**!
 * @author christ
 * 本配置基于sass框架compass,在运用时请注意是否安装sass,compass
 */
/*按钮移入渐变*/
/*disabled btn*/
/*selected button*/
/* line 5, ../sass/sass/mixins/_scroll.scss */
::-webkit-scrollbar {
  background-color: #fff;
  width: 5px;
  height: 10px;
}

/* line 11, ../sass/sass/mixins/_scroll.scss */
::-webkit-scrollbar-track {
  background-color: #fff;
}

/* line 15, ../sass/sass/mixins/_scroll.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.65);
}

/* line 3, ../sass/deal.scss */
.slide-ff {
  border: 1px solid #ccc;
  overflow: hidden;
}
@media screen and (max-width: 1350px) {
  /* line 3, ../sass/deal.scss */
  .slide-ff {
    width: 1148px;
  }
}
@media screen and (min-width: 1351px) and (max-width: 1520px) {
  /* line 3, ../sass/deal.scss */
  .slide-ff {
    width: 88%;
  }
}
@media screen and (min-width: 1521px) {
  /* line 3, ../sass/deal.scss */
  .slide-ff {
    width: 1348px;
  }
}
/* line 15, ../sass/deal.scss */
.slide-ff .slide-ss {
  width: 3000px;
  overflow: hidden;
}

/* line 20, ../sass/deal.scss */
.anjian-deal {
  margin: 30px auto 0;
  overflow-y: hidden;
  *zoom: 1;
}
@media screen and (max-width: 1350px) {
  /* line 20, ../sass/deal.scss */
  .anjian-deal {
    width: 1300px;
  }
}
@media screen and (min-width: 1351px) and (max-width: 1520px) {
  /* line 20, ../sass/deal.scss */
  .anjian-deal {
    width: 95%;
  }
}
@media screen and (min-width: 1521px) {
  /* line 20, ../sass/deal.scss */
  .anjian-deal {
    width: 1500px;
  }
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal:before, .anjian-deal:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal:after {
  clear: both;
  overflow: hidden;
}
/* line 33, ../sass/deal.scss */
.anjian-deal .anjian-content {
  float: left;
  _display: inline;
  *zoom: 1;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal .anjian-content:before, .anjian-deal .anjian-content:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal .anjian-content:after {
  clear: both;
  overflow: hidden;
}
/* line 36, ../sass/deal.scss */
.anjian-deal .anjian-content .btn-base {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  line-height: normal;
  color: #0e6595;
  background: #fff;
  border: 1px solid #0e6595;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  font-size: 12px;
  padding: 5px 10px;
  margin-left: 5px;
}
/* line 53, ../sass/deal.scss */
.anjian-deal .anjian-content .btn-base:hover {
  color: #fff;
  background: #0e6595;
}
/* line 58, ../sass/deal.scss */
.anjian-deal .anjian-content .content-panel {
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 1005px;
  -webkit-transition: margin-left 600ms;
  -o-transition: margin-left 600ms;
  transition: margin-left 600ms;
  cursor: pointer;
  position: relative;
  float: left;
  _display: inline;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
  border-bottom: none;
  border-top: none;
  overflow-y: scroll;
}
/* line 72, ../sass/deal.scss */
.anjian-deal .anjian-content .one {
  border-left: none;
  z-index: 3;
  *zoom: 1;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal .anjian-content .one:before, .anjian-deal .anjian-content .one:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal .anjian-content .one:after {
  clear: both;
  overflow: hidden;
}
/* line 76, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left {
  float: left;
  _display: inline;
  width: 800px;
}
/* line 79, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info {
  padding: 0 0px 20px 40px;
}
/* line 81, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form {
  overflow: hidden;
}
/* line 83, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form .person-info {
  float: left;
  height: auto;
  margin-top: 25px;
}
/* line 87, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form .person-info .title {
  *zoom: 1;
  width: 100%;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form .person-info .title:before, .anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form .person-info .title:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form .person-info .title:after {
  clear: both;
  overflow: hidden;
}
/* line 90, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form .person-info .title .name-info {
  float: left;
  margin-top: 10px;
}
/* line 93, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form .person-info .title .name-info .name {
  font-size: 24px;
}
/* line 96, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form .person-info .title .name-info .edit {
  margin-top: -9px;
  width: 35px;
  margin-left: 15px;
  padding: 2px 5px;
}
/* line 103, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form .person-info .title .person-btn {
  float: right;
  margin-right: 30px;
}
/* line 108, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form .person-info .content {
  *zoom: 1;
  margin-top: 30px;
  width: 100%;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form .person-info .content:before, .anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form .person-info .content:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form .person-info .content:after {
  clear: both;
  overflow: hidden;
}
/* line 112, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form .person-info .content .info-hide {
  display: none;
}
/* line 115, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form .person-info .content .item {
  float: left;
  _display: inline;
  min-height: 30px;
  line-height: 30px;
  height: auto;
  border-bottom: 1px dashed #ccc;
}
/* line 121, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form .person-info .content .item .pro, .anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form .person-info .content .item .val {
  display: inline-block;
  vertical-align: baseline;
  *vertical-align: auto;
  zoom: 1;
  *dispaly: inline;
  width: 55px;
  font-size: 12px;
  font-weight: bold;
  color: #747474;
  position: relative;
  top: 3px;
}
/* line 130, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form .person-info .content .item .val {
  vertical-align: middle;
  width: 240px;
}
/* line 135, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form .person-info .content .item .clear-border {
  border: 1px solid #fff;
}
/* line 140, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form .person-info .content .item-title {
  border-bottom: 1px solid #ccc;
}
/* line 142, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form .person-info .content .item-title .pro, .anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form .person-info .content .item-title .item .val, .anjian-deal .anjian-content .one .one-case-left .base-info #base_info_form .person-info .content .item .item-title .val {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  margin: 10px 0 0;
}
/* line 152, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info .zhan-kai, .anjian-deal .anjian-content .one .one-case-left .base-info .shou-qi {
  color: #0e6595;
  cursor: pointer;
  margin: 10px 0;
}
/* line 156, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info .zhan-kai span, .anjian-deal .anjian-content .one .one-case-left .base-info .shou-qi span {
  margin-right: 5px;
}
/* line 160, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info .shou-qi {
  display: none;
}
/* line 163, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .base-info .btn-area {
  margin: 0 auto 40px;
  width: 100%;
  display: none;
}
/* line 169, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .detail-info {
  overflow: hidden;
}
/* line 171, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .detail-info .detail-title {
  font-size: 18px;
  color: #0e6595;
  line-height: 40px;
  width: 165px;
  padding: 0 0 0 40px;
  background: #e2e2e2;
}
/* line 179, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .detail-info .add-btn {
  padding: 3px 12px;
  margin: 15px 40px 10px;
}
/* line 182, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .detail-info .add-btn span {
  margin-left: 5px;
}
/* line 186, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .detail-info .detail-content {
  margin: 0 0 40px 40px;
  *zoom: 1;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal .anjian-content .one .one-case-left .detail-info .detail-content:before, .anjian-deal .anjian-content .one .one-case-left .detail-info .detail-content:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal .anjian-content .one .one-case-left .detail-info .detail-content:after {
  clear: both;
  overflow: hidden;
}
/* line 189, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .detail-info .detail-content .photo-part {
  width: 83px;
  margin-right: 10px;
  float: left;
  _display: inline;
}
/* line 193, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .detail-info .detail-content .photo-part .person-photo {
  width: 83px;
  height: 138px;
  border: 1px solid #ccc;
}
/* line 197, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .detail-info .detail-content .photo-part .person-photo img {
  width: 83px;
  height: 116px;
  border: none;
}
/* line 202, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .detail-info .detail-content .photo-part .person-photo p {
  text-align: center;
  position: absolute;
  background: #eee;
  line-height: 23px;
  margin: -4px 0 0;
  width: 83px;
  margin-top: -4px;
}
/* line 212, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .detail-info .detail-content .photo-part .operate {
  text-align: center;
  color: #0e6595;
  word-spacing: 9px;
}
/* line 216, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-left .detail-info .detail-content .photo-part .operate .fa {
  cursor: pointer;
}
/* line 224, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-right {
  width: 180px;
  float: left;
  _display: inline;
}
/* line 227, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-right .info-nav {
  position: fixed;
  margin: 65px 0 0 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 234, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-right .info-nav .slider-handle {
  margin-top: -7px;
}
/* line 237, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-right .info-nav ul {
  list-style-type: none;
  margin: 3px 0;
  padding-left: 30px;
}
/* line 241, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-right .info-nav ul li {
  line-height: 25px;
  cursor: pointer;
  color: #747474;
  font-weight: bold;
}
/* line 247, ../sass/deal.scss */
.anjian-deal .anjian-content .one .one-case-right .info-nav ul .second {
  margin-left: 12px;
  font-weight: normal;
}
/* line 255, ../sass/deal.scss */
.anjian-deal .anjian-content .two {
  cursor: auto;
  z-index: 6;
}
/* line 258, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor0 {
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}
/* line 261, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor0 .process-title {
  padding: 10px 5px;
  font-size: 14px;
  font-weight: bold;
  color: #0e6595;
  margin: 0;
}
/* line 268, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor0 .process-nav {
  *zoom: 1;
}
/* line 269, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor0 .process-nav .active {
  color: #fff;
  background: #0e6595;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal .anjian-content .two .process-floor0 .process-nav:before, .anjian-deal .anjian-content .two .process-floor0 .process-nav:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal .anjian-content .two .process-floor0 .process-nav:after {
  clear: both;
  overflow: hidden;
}
/* line 274, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor0 .process-nav .search {
  border: 1px solid #ccc;
  height: 28px;
  width: 300px;
  display: block;
  margin-right: 5px;
  float: right;
  _display: inline;
}
/* line 281, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor0 .process-nav .search .search-input {
  border: none;
  outline: none;
  height: 26px;
  width: 255px;
  padding: 0 10px;
}
/* line 288, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor0 .process-nav .search .search-logo {
  font-size: 14px;
  color: #0e6595;
}
/* line 294, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor0 .process-detail {
  padding: 30px 5px;
  height: 200px;
  *zoom: 1;
}
/* line 297, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor0 .process-detail .process-line {
  border: 1px solid #ccc;
}
/* line 300, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor0 .process-detail .vertical0 {
  width: 0;
  height: 20px;
  margin: 0 auto;
}
/* line 305, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor0 .process-detail .vertical1 {
  width: 0;
  height: 5px;
  margin: 0 auto;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal .anjian-content .two .process-floor0 .process-detail:before, .anjian-deal .anjian-content .two .process-floor0 .process-detail:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal .anjian-content .two .process-floor0 .process-detail:after {
  clear: both;
  overflow: hidden;
}
/* line 311, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor0 .process-detail .start-circle {
  width: 7px;
  height: 7px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  border: 2px solid #ccc;
  position: absolute;
  margin-top: -5px;
  background: #fff;
}
/* line 320, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor0 .process-detail .across1 {
  float: left;
  _display: inline;
}
/* line 323, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor0 .process-detail .part {
  height: 64px;
  float: left;
  _display: inline;
}
/* line 326, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor0 .process-detail .part .box {
  border: 1px solid #0e6595;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  text-align: center;
  color: #0e6595;
  cursor: pointer;
  height: 40px;
}
/* line 337, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor1 {
  padding: 0 10px;
}
/* line 339, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor1 .wait-to-do {
  width: 525px;
  margin-left: 5px;
  float: left;
  _display: inline;
}
/* line 343, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor1 .wait-to-do .work-title {
  padding: 10px 0;
  font-size: 14px;
  font-weight: bold;
  color: #0e6595;
  margin: 0;
}
/* line 350, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor1 .wait-to-do .each-work {
  padding: 10px 20px 20px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  *zoom: 1;
}
/* line 354, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor1 .wait-to-do .each-work p {
  padding: 0;
  margin: 0;
  line-height: 25px;
}
/* line 359, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor1 .wait-to-do .each-work .gap-xian {
  border-top: 1px solid #ccc;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal .anjian-content .two .process-floor1 .wait-to-do .each-work:before, .anjian-deal .anjian-content .two .process-floor1 .wait-to-do .each-work:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal .anjian-content .two .process-floor1 .wait-to-do .each-work:after {
  clear: both;
  overflow: hidden;
}
/* line 363, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor1 .wait-to-do .each-work .each-work-footer {
  float: right;
  _display: inline;
  margin-top: 10px;
}
/* line 366, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor1 .wait-to-do .each-work .each-work-footer .work-to-do-btn {
  width: 70px;
  height: 25px;
  line-height: 25px;
  margin-left: 10px;
}
/* line 375, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor1 .case-list {
  width: 425px;
  float: right;
  margin-right: 5px;
}
/* line 379, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor1 .case-list .nav-btn {
  margin: 9px 0;
  font-size: 14px;
  font-weight: bold;
}
/* line 383, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor1 .case-list .nav-btn a {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  color: #0e6595;
  background: #fff;
  border: 1px solid #0e6595;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  line-height: 20px;
  padding: 0 5px;
}
/* line 398, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor1 .case-list .nav-btn a:hover {
  color: #fff;
  background: #0e6595;
}
/* line 403, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor1 .case-list .nav-btn .case-down {
  border-right: none;
}
/* line 406, ../sass/deal.scss */
.anjian-deal .anjian-content .two .process-floor1 .case-list .nav-btn .active {
  color: #fff;
  background: #0e6595;
}
/* line 414, ../sass/deal.scss */
.anjian-deal .anjian-content .thr {
  display: none;
  z-index: 9;
  padding: 10px 20px;
  *zoom: 1;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal .anjian-content .thr:before, .anjian-deal .anjian-content .thr:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal .anjian-content .thr:after {
  clear: both;
  overflow: hidden;
}
/* line 419, ../sass/deal.scss */
.anjian-deal .anjian-content .thr .nav {
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 422, ../sass/deal.scss */
.anjian-deal .anjian-content .thr .nav .ajbl-nav {
  padding: 10px 0px;
  float: left;
  _display: inline;
}
/* line 425, ../sass/deal.scss */
.anjian-deal .anjian-content .thr .nav .ajbl-nav .title {
  font-size: 14px;
  color: #0e6595;
  padding: 4px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}
/* line 430, ../sass/deal.scss */
.anjian-deal .anjian-content .thr .nav .ajbl-nav .title:hover {
  background: #0e6595;
  color: #fff;
}
/* line 435, ../sass/deal.scss */
.anjian-deal .anjian-content .thr .nav .ajbl-nav .gray {
  font-size: 14px;
  color: #999;
  padding: 4px 10px;
}
/* line 440, ../sass/deal.scss */
.anjian-deal .anjian-content .thr .nav .ajbl-nav .active {
  background: #0e6595;
  color: #fff;
}
/* line 444, ../sass/deal.scss */
.anjian-deal .anjian-content .thr .nav .ajbl-nav a {
  cursor: pointer;
}
/* line 447, ../sass/deal.scss */
.anjian-deal .anjian-content .thr .nav .ajbl-nav .gap {
  margin: 0 10px;
}
/* line 451, ../sass/deal.scss */
.anjian-deal .anjian-content .thr .nav .nav-right {
  float: right;
  _display: inline;
}
/* line 453, ../sass/deal.scss */
.anjian-deal .anjian-content .thr .nav .nav-right a {
  padding: 5px 15px;
}
/* line 456, ../sass/deal.scss */
.anjian-deal .anjian-content .thr .nav .nav-right .active {
  color: #fff;
  background: #0e6595;
}
/* line 462, ../sass/deal.scss */
.anjian-deal .anjian-content .thr #thr_1, .anjian-deal .anjian-content .thr #thr_2 {
  display: none;
}
/* line 465, ../sass/deal.scss */
.anjian-deal .anjian-content .thr .thr-panel {
  *zoom: 1;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal .anjian-content .thr .thr-panel:before, .anjian-deal .anjian-content .thr .thr-panel:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal .anjian-content .thr .thr-panel:after {
  clear: both;
  overflow: hidden;
}
/* line 467, ../sass/deal.scss */
.anjian-deal .anjian-content .thr .thr-panel .s-suspect {
  width: 100px;
  background: #f5f5f5;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  float: left;
  _display: inline;
}
/* line 472, ../sass/deal.scss */
.anjian-deal .anjian-content .thr .thr-panel .s-suspect .s-title {
  font-size: 14px;
  color: #0e6595;
  text-align: center;
}
/* line 477, ../sass/deal.scss */
.anjian-deal .anjian-content .thr .thr-panel .s-suspect .s-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 481, ../sass/deal.scss */
.anjian-deal .anjian-content .thr .thr-panel .s-suspect .s-list li {
  *zoom: 1;
  margin: 10px 0;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal .anjian-content .thr .thr-panel .s-suspect .s-list li:before, .anjian-deal .anjian-content .thr .thr-panel .s-suspect .s-list li:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.anjian-deal .anjian-content .thr .thr-panel .s-suspect .s-list li:after {
  clear: both;
  overflow: hidden;
}
/* line 484, ../sass/deal.scss */
.anjian-deal .anjian-content .thr .thr-panel .s-suspect .s-list li input {
  margin: 2px 5px 0px 15px;
  float: left;
  _display: inline;
}
/* line 490, ../sass/deal.scss */
.anjian-deal .anjian-content .thr .thr-panel .s-suspect .choose-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: -5px;
}
/* line 495, ../sass/deal.scss */
.anjian-deal .anjian-content .thr .thr-panel .s-suspect .choose-list li {
  line-height: 26px;
  padding-left: 33px;
  cursor: pointer;
}
/* line 499, ../sass/deal.scss */
.anjian-deal .anjian-content .thr .thr-panel .s-suspect .choose-list li:hover {
  background: #d5e7ff;
}
/* line 503, ../sass/deal.scss */
.anjian-deal .anjian-content .thr .thr-panel .s-suspect .choose-list .active {
  background: #d5e7ff;
}
/* line 511, ../sass/deal.scss */
.anjian-deal .deal-nav {
  float: left;
  _display: inline;
  right: 0;
  width: 150px;
  background: aliceblue;
}
