@charset "UTF-8";
/*案件css*/
/**
 * 获取颜色map方法
 * @param $key 颜色的key值
 */
/**
 * 获取字体map方法
 * @param $key 颜色的key值
 */
/**
 * 获取字体大小map方法
 * @param $key 颜色的key值
 */
/**
 * 获取行高map方法
 * @param $key 颜色的key值
 */
/**
 * 获取圆角map方法
 * @param $key 颜色的key值
 */
/**
 * 获取z-index map方法
 * @param $key 颜色的key值
 */
/**!
 * @author christ
 * 本配置基于sass框架compass,在运用时请注意是否安装sass,compass
 */
/*按钮移入渐变*/
/*disabled btn*/
/*selected button*/
/* line 5, ../sass/sass/mixins/_scroll.scss */
::-webkit-scrollbar {
  background-color: #fff;
  width: 5px;
  height: 10px;
}

/* line 11, ../sass/sass/mixins/_scroll.scss */
::-webkit-scrollbar-track {
  background-color: #fff;
}

/* line 15, ../sass/sass/mixins/_scroll.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.65);
}

/* line 6, ../sass/managerPage.scss */
.anjian-list {
  margin: 30px auto 0;
  padding: 0px 10px 30px 10px;
  width: 1200px;
  height: auto;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  min-height: 700px;
  *zoom: 1;
}
/* line 15, ../sass/managerPage.scss */
.anjian-list .ajbl-nav {
  padding: 10px 0px;
}
/* line 17, ../sass/managerPage.scss */
.anjian-list .ajbl-nav .title {
  font-size: 14px;
  font-weight: bold;
  color: #0e6595;
  padding: 4px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}
/* line 23, ../sass/managerPage.scss */
.anjian-list .ajbl-nav .title:hover {
  background: #0e6595;
  color: #fff;
}
/* line 28, ../sass/managerPage.scss */
.anjian-list .ajbl-nav .active {
  background: #0e6595;
  color: #fff;
}
/* line 32, ../sass/managerPage.scss */
.anjian-list .ajbl-nav a {
  cursor: pointer;
}
/* line 35, ../sass/managerPage.scss */
.anjian-list .ajbl-nav .gap {
  margin: 0 10px;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.anjian-list:before, .anjian-list:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.anjian-list:after {
  clear: both;
  overflow: hidden;
}
/* line 40, ../sass/managerPage.scss */
.anjian-list .query-list-main {
  width: 687px;
  float: left;
  _display: inline;
}
/* line 46, ../sass/managerPage.scss */
.anjian-list .query-list-main .query-panel .panel .panel-header .panel-title {
  height: 25px;
  line-height: 25px;
}
/* line 48, ../sass/managerPage.scss */
.anjian-list .query-list-main .query-panel .panel .panel-header .panel-title .add-btn {
  padding-left: 10px;
  color: #5a5a5a;
  font-weight: bold;
}
/* line 52, ../sass/managerPage.scss */
.anjian-list .query-list-main .query-panel .panel .panel-header .panel-title .add-btn input {
  cursor: pointer;
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  font-weight: bold;
  color: #5a5a5a;
  padding: 5px 10px;
  outline: none;
}
/* line 62, ../sass/managerPage.scss */
.anjian-list .query-list-main .query-panel .panel .panel-header .panel-title .add-btn .short:hover, .anjian-list .query-list-main .query-panel .panel .panel-header .panel-title .add-btn .add-other {
  background-color: #0e6595;
  color: #fff;
}
/* line 66, ../sass/managerPage.scss */
.anjian-list .query-list-main .query-panel .panel .panel-header .panel-title .add-btn .add-other {
  margin-left: 15px;
}
/* line 70, ../sass/managerPage.scss */
.anjian-list .query-list-main .query-panel .panel .panel-header .panel-title .input-search {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  height: 23px;
  width: 288px;
  display: none;
}
/* line 77, ../sass/managerPage.scss */
.anjian-list .query-list-main .query-panel .panel .panel-header .panel-title .input-search .enter-condition {
  border: none;
  display: block;
  float: left;
  line-height: 21px;
  margin-left: 5px;
  width: 255px;
  outline: none;
}
/* line 86, ../sass/managerPage.scss */
.anjian-list .query-list-main .query-panel .panel .panel-header .panel-title .input-search .search-xian {
  font-size: 12px;
  display: block;
  float: left;
  color: #ccc;
  margin-top: -2px;
}
/* line 93, ../sass/managerPage.scss */
.anjian-list .query-list-main .query-panel .panel .panel-header .panel-title .input-search .search-logo {
  color: #0e6595;
  margin-left: 5px;
  font-size: 12px;
  margin-top: 5px;
  display: block;
  float: left;
}
/* line 105, ../sass/managerPage.scss */
.anjian-list .query-list-main .query-panel .query-item {
  padding-top: 10px;
  *zoom: 1;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.anjian-list .query-list-main .query-panel .query-item:before, .anjian-list .query-list-main .query-panel .query-item:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.anjian-list .query-list-main .query-panel .query-item:after {
  clear: both;
  overflow: hidden;
}
/* line 108, ../sass/managerPage.scss */
.anjian-list .query-list-main .query-panel .query-item .item {
  display: none;
  float: left;
  _display: inline;
  height: 22px;
  line-height: 22px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 0 15px;
}
/* line 115, ../sass/managerPage.scss */
.anjian-list .query-list-main .query-panel .query-item .item .pro {
  color: #5a5a5a;
  font-weight: bold;
  margin-right: 10px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
/* line 124, ../sass/managerPage.scss */
.anjian-list .query-list-main .query-panel .query-item .item .val {
  border: none;
  outline: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *dispaly: inline;
  width: 250px;
  height: 20px;
  line-height: 20px;
}
/* line 133, ../sass/managerPage.scss */
.anjian-list .query-list-main .query-panel .query-btn {
  margin: 20px 0;
  text-align: center;
}
/* line 136, ../sass/managerPage.scss */
.anjian-list .query-list-main .query-panel .query-btn a {
  width: 60px;
  margin: 0 10px;
}
/* line 142, ../sass/managerPage.scss */
.anjian-list .query-list-main .query-content {
  margin-top: 20px;
}
/* line 144, ../sass/managerPage.scss */
.anjian-list .query-list-main .query-content .operate {
  font-size: 12px;
  width: 35px;
  padding: 2px 5px;
}
/* line 151, ../sass/managerPage.scss */
.anjian-list .wait-to-do {
  width: 480px;
  margin-left: 10px;
  float: left;
  _display: inline;
}
/* line 155, ../sass/managerPage.scss */
.anjian-list .wait-to-do .each-work {
  padding: 10px 20px 20px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  *zoom: 1;
}
/* line 159, ../sass/managerPage.scss */
.anjian-list .wait-to-do .each-work p {
  padding: 0;
  margin: 0;
  line-height: 25px;
}
/* line 164, ../sass/managerPage.scss */
.anjian-list .wait-to-do .each-work .gap-xian {
  border-top: 1px solid #ccc;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
.anjian-list .wait-to-do .each-work:before, .anjian-list .wait-to-do .each-work:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
.anjian-list .wait-to-do .each-work:after {
  clear: both;
  overflow: hidden;
}
/* line 168, ../sass/managerPage.scss */
.anjian-list .wait-to-do .each-work .each-work-footer {
  float: right;
  _display: inline;
  margin-top: 10px;
}
/* line 171, ../sass/managerPage.scss */
.anjian-list .wait-to-do .each-work .each-work-footer .work-to-do-btn {
  width: 70px;
  height: 25px;
  line-height: 25px;
  margin-left: 10px;
}

/* line 182, ../sass/managerPage.scss */
#other_condition_panel .query-condition {
  *zoom: 1;
  padding: 15px;
}
/* line 18, ../sass/sass/mixins/_clearfix.scss */
#other_condition_panel .query-condition:before, #other_condition_panel .query-condition:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/sass/mixins/_clearfix.scss */
#other_condition_panel .query-condition:after {
  clear: both;
  overflow: hidden;
}
/* line 185, ../sass/managerPage.scss */
#other_condition_panel .query-condition .item {
  font-size: 12px;
  float: left;
  _display: inline;
  width: 142px;
  margin-bottom: 10px;
}
/* line 190, ../sass/managerPage.scss */
#other_condition_panel .query-condition .item input {
  cursor: pointer;
  vertical-align: middle;
}
